body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

select,
input {
  border-radius: 2px;
  border: 1px solid gainsboro;
}

option {
  background-color: white;
}

.container {
  border: 1px solid gainsboro;
  height: 250px;
  margin-top: 10%;
  width: 70vw;
  border-radius: 2px;
}

.container > * {
  margin: 5%;
}

.unit-container {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner-boxes {
  flex-wrap: wrap;
  display: flex;
}

.box {
  position: relative;
}

#unit {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 6px;
  width: 74%;
}

.dropdown {
  position: absolute;
  bottom: 0;
  width: 100%;
}

select {
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
}

.box > input {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  padding-bottom: 50px;
  text-align: center;
}

.equal {
}

/* 
.container {
  margin-top: 15%;
}

.jumbotron {
  background-color: white;
  border: 1px solid gainsboro;
}

.box {
}

.row > * {
  border: 1px solid gainsboro;
} */
