body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Roboto";
}

select,
input {
  border-radius: 2px;
  border: 1px solid gainsboro;
}

option {
  background-color: white;
}

.container {
  border: 1px solid gainsboro;
  height: 250px;
  width: 70%;
  margin-top: 10%;
  border-radius: 15px;
}

.container > * {
  margin: 3%;
  margin-left: 1%;
}

.unit-container {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner-boxes {
  flex-wrap: wrap;
  display: flex;
  width: 64%;
}

.box {
  position: relative;
}

#units {
  background-color: whitesmoke;
  padding: 6px;
  width: 64%;
}

.dropdown {
  position: absolute;
  bottom: 0;
  width: 100%;
}

select {
  padding: 6px;
  background-color: whitesmoke;
  width: 100%;
}

.box > input {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  line-height: 22px;
  padding-bottom: 50px;
  text-align: center;
}

@media (max-width: 1000px) {
  .container {
    margin: 10% 1%;
  }
}
